<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topup Diamond</title>
<style>
  body{
    background-image: url('https://images.search.yahoo.com/images/view;_ylt=AwrO81LIR1RlSPgHC1OJzbkF;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzFhMmI5N2FiMzliZjQzMjA2NjIyNGUwMGQwMTFmMzc2BGdwb3MDNARpdANiaW5n?back=https%3A%2F%2Fimages.search.yahoo.com%2Fsearch%2Fimages%3Fp%3Dgambar%2Bbaground%2Btop%2Bup%2Bgame%2Bml%26ei%3DUTF-8%26type%3DE210US91215G0%26fr%3Dmcafee%26fr2%3Dp%253As%252Cv%253Ai%252Cm%253Asb-top%26tab%3Dorganic%26ri%3D4&w=695&h=695&imgurl=api.duniagames.co.id%2Fapi%2Fproduct%2Fupload%2Fimage%2F3856581841566571369.jpg&rurl=https%3A%2F%2Fgambarpopulerhd.blogspot.com%2F2020%2F01%2Fgambar-logo-ml-dan-ff.html&size=75.9KB&p=gambar+baground+top+up+game+ml&oid=1a2b97ab39bf432066224e00d011f376&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&fr=mcafee&tt=Gambar+Logo+Ml+Dan+Ff+%7E+gambar+viral+hd&b=0&ni=90&no=4&ts=&tab=organic&sigr=Wg0X4khR6FmB&sigb=pVTgFFDFbHnc&sigi=OWbo2XkGs28J&sigt=ahmtIYu.4BBe&.crumb=92kR.HGcojN&fr=mcafee&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&type=E210US91215G0');
  }
  </style>
</head>
<body>
  <p>Topup Diamond ML</p>
  <a href="menu">ke menu</a>
</body>
</html>